/*
*   this file includes accordion section styles for settings pane.
*   @giraykarasinir
*/

.jfReportAccordion {
  padding: 0;

  &.jfReportPalette {
    padding: 0;
  }

  .jfReportAccordion-tab {
    display: flex;
    flex-direction: column;
  }

  .jfReportAccordion-tabContent {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
  }

  .isOpen {
    &:after {
      transform: rotateX(-180deg);
    }

    & + .jfReportAccordion-tabContent {
      max-height: 100%;
      padding: 20px;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 13px 20px;
    padding: 5px ​20px;
    height: 55px;
    border-bottom: 1px solid;
    transition: $transition;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 3px);
      right: 20px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid;
      transition: $transition;
    }

    &:hover {
      background-color: rgba(#EFEFF6, .5);
      &:after {
        opacity: 1;
      }
    }
  }
}
