/*
*   this file includes main layout styles for reports.
*   @giraykarasinir
*/

body {
  font-family: $reportFont;
  font-size: $baseSize;
  color: #2b3245;
}

.jfReport, .jfPresentation {
  height: 100%;
  width: 100%;
  font-family: $reportFont;
  overflow: hidden;

  &-col {
    flex: 1 1;
  }

  &-toolbox {
    box-shadow: 5px 0 0 0 rgba(106, 110, 143, 0.1);
  }

  &-settings {
    box-shadow: -3px 0 0 0 rgba(106, 110, 143, 0.1);
  }

  &-pane {
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 2;

    &.isIdle {
      .paneToggler {
        opacity: 1;
      }

      .paneClose {
        opacity: 0;
      }
    }
  }

  &-pages {
    transition: margin .5s ease-in-out;
  }

  &-viewport {
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.jfReport {
  background-color: #F4F4F8;
}

.leftPaneIsActive {
  .jfReport-pages {
    margin-left: $left-pane-width;
  }
}

.rightPaneIsActive {
  .jfReport-pages {
    margin-right: $right-pane-width;
  }

  .jfReport-pane.otherOpened:not(.jfReport-toolbox).forSlides .paneToggler {
    top: 15px;
    right: calc(#{$right-pane-width} + 15px);
  }
}

.slidesPaneIsActive {
  .jfReport-pane.otherOpened:not(.jfReport-toolbox).forSettings .js-openRightPanel {
    right: calc(#{$right-pane-width} + 15px);
  }
}

.errorBoundary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: transparent;

  * {
    z-index: 10;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    height: 100%;
    z-index: 9;
    background-color: #F3F3FE;
    background-image: repeating-linear-gradient(
      -45deg,
      #F3F3FE 0,
      #F3F3FE 20px,
      #FFF 20px,
      #FFF 40px
    );
  }
}

.errorBoundary-icon {
  width: 24px;
  height: 24px;
  color: #e74c3c;
}

.errorBoundary-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.errorBoundary-details-wrapper {
  background: #fff;
  border-radius: 8px;
  color: #2c3e50;
  max-height: 80vh;
  max-width: 720px;
  overflow: auto;
  padding: 20px;
  width: 90%;
}

.errorBoundary-details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.errorBoundary-details-content {
  white-space: pre-wrap;
}
