/*
*   this file includes page styles for reports.
*   @giraykarasinir
*/

.jfReport, .jfPresentation {
  .jfReport-pageContainer {
    position: relative;
    background-color: $white;
  }
}

.jfReport-page {
  font-size: initial;
  margin: 0 auto;
  z-index: 1;
}

.jfReport {

  &-canvas {
    margin: auto;
  }

  .jfReport-pageInfo {
    position: relative;
    color: $gray;
    margin: 0 auto 6px;
    padding-top: 30px;
    transition: .3s ease-in-out;

    .pageCounter {
      display: inline-flex;
      justify-content: center;
      width: 40px;
      padding: 3px;
      font-size: 0.875rem;
      font-weight: 500;
      background-color: $white;
      border-radius: 3px;
      box-shadow: 0 0 4px rgba(10, 21, 81, 0.06);
      color: #0A1551;
    }
  }
}

.jfReport .pageAdder {
  width: 100%;
  user-select: none;
  transition: .3s ease-in-out;
  color: $gray;

  .icon-plus {
    margin-right: 10px;
    transition: .3s fill ease-in;
  }
}

.jfReport .jfReport-pages .pageAdder {
  margin: 20px auto;
  padding: 16px;
  border: dashed 2px rgba(133, 131, 169, 0.3);
  border-radius: 4px;

  .jfReportSVG {
    fill: $gray;
  }
}

.jfReport .forAllSlides .pageAdder {
  color: $additionalGray;
  border: 1px dashed rgba($additionalGray, .6);

  .icon-plus {
    fill: $additionalGray;
  }
}

.jfReport .pageAdder:hover {
  color: $blue;
  border-color: $blue;

  .icon-plus {
    fill: $blue;
  }
}

.jfReport .forSlides {
  .jfReport-pane-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
    border-top: 1px solid #4C5360;
  }
}

.jfReport .forSlides .pageAdder {
  display: flex;
  padding: 10px 20px 10px 16px;
  background-color: $ctaBlue;
  border-top: 1px solid #DDE0EA;
  border-radius: 4px;
  box-shadow: 0 -5px 0 rgba(#6A6E8F, 0.05);
  color: #ffffff;
  transition: $transition;

  .icon-plus {
    fill: #ffffff;
  }

  span {
    white-space: nowrap;
  }

  &:hover {
    background-color: $ctaBlue;

    .jfReportSVG {
      fill: #fff;
    }
  }
}

// Report Layout //

.guide {
  background-color: #ff18ff;
  color: #ff18ff;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}

.active {
  display: block;
}

.xAxis {
  height: 100%;
  width: 1px;
}

.yAxis {
  height: 1px;
  width: 100%;
}

// Context Menu //


.contextMenu-wrapper {
  display: flex;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 225px;
  z-index: 10;
  border-radius: 4px;
  background: #252D5B;
  color: #FFFFFF;
}

.contextMenu-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  height: 40px;
  width: 100%;
  font-size: 0.875rem;
  padding: 0 8px;
  text-align: left;
  color: #FFFFFF;
  transition: .2s ease-in-out;

  .contextMenu-icon {
    color: #FFFFFF;
    margin-right: 9px;
    width: 16px;
    height: 16px;
    fill: #FFFFFF;
  }

  .contextMenu-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }

  &:hover {
    background-color: #454E80;
    transition: all 0.3s ease;
  }
}

.contextMenu-button.isDanger {
  color: #DC2626;

  .contextMenu-icon {
    color: #DC2626;
    fill: #DC2626;
  }
}
