/*
*   this file includes search input styles for element search.
*   @giraykarasinir
*/

.jfReport {
  &-searchContainer {
    padding: 10px 15px;
  }

  &-search {
    display: flex;
    align-items: center;

    .section-search-button {
      position: absolute;
      bottom: 1px;
      height: calc(100% - 2px);
      border-radius: 0 15px 15px 0;

      &.search-icon {
        left: 8px;
      }

      &.search-delete {
        right: 8px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -15px;
          width: 15px;
          height: 100%;
          pointer-events: none;
        }
      }
    }

    .section-search-icon {
      height: 16px;
      width: 16px;
      stroke-width: 1px;
      stroke: #8586A6;
      transition: all .3s ease-in-out;

      &.delete {
        fill: #8586A6;
        height: 10px;
        width: 10px;
        stroke: none;
      }
    }

    .section-search-input {
      width: 100%;
      box-shadow: none;
      padding: 5px 25px 5px 30px;
      line-height: 18px;
      font-size: 0.875rem;
      border-radius: 15px;
      transition: all .3s ease-in-out;
      height: 32px;

      &::placeholder {
        color: $additionalGray;
      }

      &:focus ~ .section-search-button {
        .section-search-icon:not(.delete) {
          stroke: #4277FF;
        }
      }

      &:hover, &:focus {
        border-color: #4277FF;
      }
    }
  }
}
